<template>
  <main class="foot">
      <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 mb-3">
          <h5>pages</h5>
          <ul class="pl-0">
              <li>
                <a href="#">
                    <b-icon icon="caret-right-fill"></b-icon>

                    Home
                </a>
            </li>
            <li>
              <a href="#">
                <b-icon icon="caret-right-fill"></b-icon>

                About Us
              </a>
            </li>
            <li>
              <a href="#">
                <b-icon icon="caret-right-fill"></b-icon>

                contact
              </a>
            </li>
            <li>
              <a href="#">
                <b-icon icon="caret-right-fill"></b-icon>

                Markets
              </a>
            </li>
          </ul>
        </div>


        <div class="col-sm-6 col-md-3 mb-3">
          <h5>contact</h5>
          <ul class="pl-0 row social">
            <li class="">
              <b-icon icon="facebook"></b-icon>
            </li>
            <li class="">
              <b-icon icon="twitter"></b-icon>
            </li>
            <li class="">
              <b-icon icon="instagram"></b-icon>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <hr> -->
  <div class="copy-right">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center text-md-left">
                  <p>copy</p>
              </div>
              <div class="col-md-6">
                  <div class="d-flex justify-content-center justify-content-md-end">
                      <a href="#" >
                      <div class="mr-3">Sitemap</div>
                      </a>
                      <a href="#" >
                      <div>PrivacyPolicy</div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </main>
</template>

<style  scoped>
.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer,.copy-right{
    background-color: #333;
    color: #fff;
    direction: ltr;
    /* z-index: 71; */
}
.copy-right{
    padding: 20px 0;
    border-top: 1px solid #ccc6;
}
.footer {
     position: relative;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.footer::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.05;
}
.footer ul {
  margin-left: 20px;
  list-style: none;
  margin: 0;
}
ul li {
  list-style: none;
}

.social {
  padding: 0;
  margin: 0;
}
ul.social li {
  width: 34px;
  border-radius: 50%;
  margin-right: 14px;
  height: 34px;
  text-align: center;
}
ul.social li:hover .bi-facebook{
  color: #3b5998  ;
}
ul.social li:hover .bi-twitter{
  color: #1DA1F2;
}
ul.social li:hover .bi-instagram{
  color: #8a3ab9;
}
ul.social li:not(:first-of-type) {
  background-color: #fff;
}
.copy-right a,
.footer a{
  color: #fff;
  text-decoration: none;
}
/* @media (max-width:776px){
    .social{
        display: flex;
    }
} */
svg.bi-facebook {
  font-size: 32px;
}
svg.bi-twitter,
svg.bi-instagram {
  font-size: 20px;
  margin: auto;
  color: #333;
  margin-top: 7px;
}

svg.bi-caret-right-fill {
  font-size: 11px;
  display: inline-block;
  margin-right: 7px;
}
</style>
