<template>
  <main>
      test
    <b-navbar
      class="nav"
      toggleable="lg"
      style="direction: ltr"
      type="light"
      variant="light"
    >
      <b-navbar-brand class="col-5 col-md-2" href="#">
        <img
          :src="`image/logo.png`"
          width="30"
          height="30"
          alt=""
        />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="col-lg-9">
          <b-nav-item>
            <a class="nav-link" :to="`/`">
              <b-icon icon="house" :title="Tilthome"></b-icon>
              <span class="d-inline-block d-md-none">Home</span>
            </a>
          </b-nav-item>

          <b-nav-item>
            <a class="nav-link" :to="`/guide`">
              <b-icon icon="journal-text" :title="Titlguide"></b-icon>
              <span class="d-inline-block d-md-none">
                Guide
              </span>
            </a>
          </b-nav-item>

          <b-nav-item-dropdown
            right
            size="sm"
            variant="link"
            toggle-class="text-decoration-none"
            no-caret
          >
            <template #button-content>
              <b-icon icon="patch-question" :title="Titlorder"></b-icon>
              <span class="d-inline-block d-md-none">
                Order
              </span>
            </template>
            <b-dropdown-item>
              <a class="nav-link" :to="`/order`">
                 Order
              </a>
            </b-dropdown-item>
            <b-dropdown-item v-if="auth">
              <a class="nav-link" :to="`/myorder`">
                myOrder
              </a>
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item v-if="auth">
            <a class="nav-link" :to="`/wishlist`">
              <b-icon :title="Titlwhishlist" icon="heart"></b-icon>
              <span class="d-inline-block d-md-none">
                wishlist
              </span>
            </a>
          </b-nav-item>

          <b-nav-item-dropdown
            right
            size="sm"
            variant="link"
            toggle-class="text-decoration-none"
            no-caret
          >
            <template #button-content>
              <b-icon icon="house-door" :title="TitleTrade"></b-icon>
              <span class="d-inline-block d-md-none">
                Markets
              </span>
            </template>
            <b-dropdown-item>
              <a
                v-if="type === 'trade'"
                class="nav-link"
                href="#"
              >
                 Product
              </a>
            </b-dropdown-item>
            <b-dropdown-item>
              <a class="nav-link" href="#">
                Markets
              </a>
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item>
            <a class="nav-link" href="#">
              <b-icon
                icon="info-circle"
                :title="Titlabout"
                aria-hidden="true"
              ></b-icon>
              <span class="d-inline-block d-md-none">
                'About Us'
              </span>
            </a>
          </b-nav-item>

          <b-nav-item>
            <a class="nav-link" href="#">
              <b-icon
                icon="headset"
                :title="Titlhead"
                aria-hidden="true"
              ></b-icon>
              <span class="d-inline-block d-md-none">
               contact
              </span>
            </a>
          </b-nav-item>



        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto col-lg-3">
          <div class="search">


          </div>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </main>
</template>
<script>
export default {
  data: function () {
    return {
      search: "",
      loading: false,
      src: "./../../image/shope.png",
      imgActive: "",
      type: "",
      auth: false,
      Tilthome: "",
      Titlguide: "",
      Titlorder: "",
      Titlwhishlist: "",
      Titlhead: "",
      Titllang:"",
      Titlabout: "",
      Titluser:"",
      TitleTrade: "",
      loading: false,
    };
  },
  mounted() {
    this.Tilthome = 'Home';
    this.Titlguide = 'Guide';
    this.Titlorder = 'Order';
    this.Titlwhishlist = 'wishlist';
    this.Titlhead = 'contact';
    this.Titllang = 'language';
    this.Titluser = 'regist_user';
    this.Titlabout = "about.About Us";
    this.TitleTrade = 'Markets';

  },
  methods: {

  },
};
</script>
<style scoped>
.navbar {
  z-index: 66;
  box-shadow: 0px 0.2px 8px 1px #ccc;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-brand img {
  width: 80%;
  height: 60px;
}
i {
  color: #6e6c6c;
}
.fa-heart {
  color: #d94f4f;
}
i.fa-heart,
i.fa-info,
i.fa-heart,
.fa-search {
  border: 1px solid #bcb8b8;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 1.6;
}
.fa-search {
  color: #fff;
  background-color: #ffa500;
  border-color: #ffa500;
  line-height: 2.2;
  font-size: 11px;
}
.navbar {
  padding-bottom: 0;
  z-index: 1000;
}

.icon {
  background-color: #fad400;
  border-radius: 6px;
  border: 1px solid #fff;
  padding: 3px 18px;
  margin-right: 10px;
  position: relative;
}
.icon i {
  color: #333;
}
.icon.active {
  border: 1px solid #333;
}
.notify {
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 27px;
  top: 1px;
}

.navbar-light .navbar-nav .show > .nav-link > svg {
  margin: auto;
}
.navbar-nav {
  justify-content: center;
  align-items: center;
}
.rtl .nav-item {
  direction: rtl;
}
.nav-item svg {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 10px;
}
@media (max-width: 992px) {
  .navbar-collapse {
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
  }
  .search {
    margin: auto;
  }
  .navbar {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .navbar {
    height: 90px;
  }
  .navbar-nav {
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    width: 200px;
  }
  .rtl .nav-item span {
    text-align: right;
  }
  .nav-item span {
    width: 120px;
  }
  .nav-item svg {
    margin: 0;
    margin-left: 10px;
    text-align: right;
  }
  .rtl .nav-item svg {
    margin-right: 10px;
  }
}

.search .form-inline {
  position: relative;
}
.search {
  position: relative;
}
.search svg {
  position: absolute;
  right: 9px;
  top: 7px;
}
.cart-right {
  padding-top: 5px;
}
.item-category {
  display: flex;
  justify-content: space-between;
}
.sub-menu {
  position: absolute;
  min-width: 300px;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  right: 158px;
  top: 5px;
}

/* .category.dropdown {
    position: initial;
}
.category .dropdown-menu{

    right: 0;
}
.category.dropdown .dropdown-item:active{
    background-color:#fff;
    color:#333
} */
</style>
