<template>
  <div class="main-content">
      <div class="main">
        <Navbar />
        <!-- <NavIcon /> -->

        <div class="row">
            <div class="col-md-3" v-for="(programme, i) in programs" :key="i">
                <div class="card" style="width: 18rem;">
                <a :href="programme.deepLink">
                    <img :src="programme.image" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{programme.title}}</h5>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                </div>
                </div>
            </div>
        </div>

        <FooterComponent />
      </div>
    </div>

</template>
<script>
import Navbar from "./NavbarComponent";
import FooterComponent from "./FooterComponent";
import Footer from "./Footer";
export default {
  name: 'home',
 data() {
    return {
       programs: [],
       loading: true
    }
  },

  mounted() {
    this.loadPrograms();
  },

  methods: {

    loadPrograms() {
        axios.get('/api/programms')
            .then((response) => {
                this.programs = response.data.data;
            })
            .catch(function (error) {
                console.log(error);
            });
      }

  },
components: {
    Navbar,
    Footer,
    FooterComponent
},

}
</script>

<style lang="scss" scoped>

</style>
