<template>
  <main>
    <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand href="#">
          <img src="image/shope.png" width="30" height="30" alt="" />
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>


      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>



        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em>User</em>
          </template>
            <b-dropdown-item href="#">
                <a class="nav-link" href="#" >Profile</a>
            </b-dropdown-item>
          <b-dropdown-item href="#">
            <a class="nav-link" href="#" >Logout</a>
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </main>
</template>
<script>
export default {
  data: function () {
    return {
    //   src: "./../../image/shope.png",
      icons: [
        "fa fa-home",
        "fa fa-envelope",
        "fa fa-user-tie",
        "fa fa-users",
        "fa fa-question-circle",
        "fa fa-address-book",
      ],
    };
  },
};
</script>
<style scoped>
.navbar-brand img {
  width: 27%;
}
i {
  color: #6e6c6c;
}
.fa-heart {
  color: #d94f4f;
}
i.fa-heart,
i.fa-info,
i.fa-heart,
.fa-search {
  border: 1px solid #bcb8b8;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 1.6;
}
.fa-search {
  color: #fff;
  background-color: orange;
  border-color: orange;
  line-height: 2.2;
  font-size: 11px;
}
.navbar {
  padding-bottom: 0;
}
.icon {
  background-color: #fad400;
  border-radius: 6px;
  border: 1px solid #fff;
  padding: 3px 18px;
  margin-right: 10px;
  position: relative;
}
.icon i {
  color: #333;
}
.icon.active {
  border: 1px solid #333;
}
.notify {
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 27px;
  top: 1px;
}
</style>
